POSTGRES_URL=

PORT=

BCRYPT_SALT=10
JWT_ACCESS_TOKEN_EXPIRATION=15m
JWT_REFRESH_TOKEN_EXPIRATION=7d
JWT_SECRET=secret
AUTH_CODE_EXPIRATION=5m
NCANODE_URL=
APP_URL=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

RESEND_API_KEY=
