POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_HOST=
POSTGRES_PORT=

PORT=

BCRYPT_SALT=10
JWT_ACCESS_TOKEN_EXPIRATION=15m
JWT_REFRESH_TOKEN_EXPIRATION=7d
JWT_SECRET=secret
AUTH_CODE_EXPIRATION=5m

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

RESEND_API_KEY=
